<%= for post <- @listing.posts do %>
  <article class="post">
    <h2 class="post-title">
      <a href="<%= rewrite_url(post.url) %>"><%= post.title %></a>
    </h2>
    <div class="post-via">
      on
      <span class="post-source"><%= post.subreddit %></span>
      for
      <span class="post-source">
        <%= how_long_ago(post.created_timestamp) %>
      </span>
    </div>
  </article>
<% end %>