<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A Better Reddit">
    <meta name="author" content="Samuel Doiron">

    <title>BetterReddit - Front Page</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
      <main>
        <div class="site-top">
          <h1 class="logo">Better Reddit</h1>
          <nav>
          <ul>
            <li><a href="/r/all">All</a></li>
            <li><a href="/r/programming">Programming</a></li>
            <li><a href="/r/askreddit">Ask</a></li>
            <li><a href="/r/funny">Funny</a></li>
            <li><a href="/r/aww">Cute</a></li>
          </ul>
          </nav>
        </div>
        <div class="site-body">
          <%= render @view_module, @view_template, assigns %>
        </div>
      </main>
  </body>
</html>
