html {
  font-family: sans-serif;
  margin: 1em;
  font-size: 16px;
}

*::selection {
  background: black;
  color: white;
}

* {
  box-sizing: border-box;
}

body {
  width: 60rem;
  max-width: 100%;
  margin: 0 auto;
  line-height: 1.5;
}

.site-top {
  display: flex;
  align-items: center;
}



a {
  text-decoration: none;
  color: black;
}

a:visited {
  color:#777;
}

.logo a {
  color: black;
}

nav ul {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}

.post {
  padding-bottom: .125em;  
  font-size: .85em;
}

.post:first-child h2 {
  margin-top: 0;
}

.post-title {
  font-size: 1.3em;
  margin-bottom: 0;
}

.post-via {
  color: #555;
}

.post-source,
.post-time {
  color: black;
}

.post-source {
  font-weight: bold;
}

.site-top {
  margin-left: 10em;
}

.site-body {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

/* TODO This layout is hacky, but I can't think of
   a better way to have the main content centered and this to the right. */
.site-sidebar {
  width: 10em;
}

.site-body main {
  flex: 1;
}

.site-sidebar ul {
  margin: 0;
  padding: 0;
}

.site-sidebar li {
  margin-bottom: .5em;
}

.site-menu-toggle {
  display: none;
}

.logo-small,
.logo-small:visited {
  display: none;
  color: white;
  padding-left: .2em;
  padding-right: .2em;
}

.site-top {
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
}

.site-top > * {
  margin-right: 1rem;
}

.subreddit,
.sort {
  border-bottom: 1px solid gray;
}

.site-topbar a {
  border-bottom: 1px solid gray;
}

@media (max-width: 1024px) {
  .logo {
    display: none;
  }

  .logo-small {
    display: block;
    font-size: 1.5em;
    color: white;
    background: black;
    font-weight: bold;
  }

  .site-sidebar {
    display: none;
  }

  .site-menu-toggle {
    display: block;
  }

  .site-top {
    margin-left: 0;
    margin-bottom: 1em;
  }
}
