html {
  font-family: sans-serif;
  margin: 1em;
  font-size: 18px;
}

*::selection {
  background: black;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 60rem;
  margin: 0 auto;
  line-height: 1.5;
}

.site-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: rgba(0,0,0,.75);
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: line-through;
  color: gray;
}

ul {
  margin: 0;
  padding: 0;
}

.site-top nav {
  display: inline-block;
}

.site-top nav li {
  display: inline-block;
  padding-left: 1em;
  padding-right: 1em;
}

.post {
  padding-bottom: .125em;  
  font-size: .85em;
}

.post-title {
  margin-bottom: 0;
}

.post-via {
  color: gray;
}

.post-source {
  color: black;
}