html {
  font-family: sans-serif;
  margin: 1em;
  font-size: 18px;
}

*::selection {
  background: black;
  color: white;
}

* {
  box-sizing: border-box;
}

body {
  width: 60rem;
  max-width: 100%;
  margin: 0 auto;
  line-height: 1.5;
}

.site-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: rgba(0,0,0,.75);
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: line-through;
  color:#777;
}

ul {
  margin: 0;
  padding: 0;
}

.post {
  padding-bottom: .125em;  
  font-size: .85em;
}

.post:first-child h2 {
  margin-top: 0;
}

.post-title {
  margin-bottom: 0;
}

.post-via {
  color: gray;
}

.post-source {
  color: black;
}


/* TODO This layout is hacky, but I can't think of
   a better way to have the main content centered and this to the right. */
.site-sidebar {
  width: 10em;
  position: absolute;
  margin-left: -14em;
  margin-top: 6em;
}

.site-sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.site-sidebar li {
  margin-bottom: .5em;
}